body {
    margin: 50px;
}

p {
    width: 100px;
    height: 100px;
    background-color: aqua;
}
        
p.move-right {
    background-color: orangered;
    transform: translateX(100px);
}
        
p.move-down {
    background-color: dodgerblue;
    transform: translateY(25px);
}
        
p:hover {
    transform: translate(15px, 15px);
}

h1 {
    width: 100px;
    height: 100px;
    background-color: mediumpurple;
    color: white;
    font-size: 30px;
    border: 2px solid darkblue;
    margin: 40px 0;
}

h1.transformed {
    background-color: hotpink;
    transform: scale(2);
    transform-origin: 0 0;
}

h1.rotation {
    background-color: green;
    transform: rotate(90deg);
    transform-origin: right bottom;
    margin-top: 150px;
}